{% load staticfiles %}<!DOCTYPE html>
<html>
	<head>
		{% block head %}
		<title>KBMOD Multistream | The KBMOD Gaming Community</title>
		{% endblock head %}
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.8.1/jquery.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.min.js"></script>
		<script src="https://ttv-api.s3.amazonaws.com/twitch.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.isotope/2.2.2/isotope.pkgd.js"></script>
		<script type="text/javascript" src="{{ base_url }}static/jquery.cointipper-pack.min.js"></script>
		<script type="text/javascript" src="{{ base_url }}static/plugins.js"></script>
		<script type="text/javascript" src="{{ base_url }}static/script.js"></script>
		<script type="text/javascript">
			var base_url = "{{ base_url }}";
			var layout_groups = { {% for g in layout_groups %}{{ forloop.counter }}: { {% for l in g %}{{ l.index }}: {'haschat': {% if l.has_chat %}true{% else %}false{% endif %},},{% endfor %} },{% endfor %} };
			
			Twitch.init({clientId: "{{ client_id }}"},
				function(error, status) {
					if(error) {
						console.debug(error);
					}
				}
			);
		</script>
		{% block script %}
		{% endblock script %}
		<link href="{{ base_url }}static/images/favicon.png" rel="shortcut icon"/>	
		<link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/smoothness/jquery-ui.css" />
		<link href='https://fonts.googleapis.com/css?family=PT+Sans:400italic,700italic,400,700' rel='stylesheet' type='text/css' />
		<link rel="stylesheet" type="text/css" href="{{ base_url }}static/jquery.cointipper.min.css" />
		<link rel="stylesheet" type="text/css" href="{{ base_url }}static/multistream.css" />
		{% block styles %}
		{% endblock styles %}
	</head>
	<body>
		<div id="bodywrapper">
		{% block body %}
		{% endblock body %}
		</div>
	</body>
</html>
